# Packages
node_modules
**/node_modules

# Build artifacts
dist/**/*.map

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Miscellaneous
.tmp/
.github/
.vscode/**
.vscode-test/**
src/**
.gitattributes
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
.eslintrc.js
.prettierrc
pnpm-lock.yaml
webpack.config.js
tsconfig.json
.eslintrc.cjs
**/*-debug-*.log
